$screen-desktop: 1320px;
$screen-laptop: 1024px;
$screen-tablet: 768px;
$screen-mobile: 548px;

:root {
  /* Colors */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --gray: rgba(255, 255, 255, 0.7);
  --blue: rgba(33, 150, 243, 1);
  --blue-darker: rgba(30, 136, 229, 1);
  --red: rgba(242, 78, 30, 1);

  --bg-body: var(--white);
  --bg-header: var(--blue);

  --text-color--primary: var(--black);
  --text-color--secondary: var(--white);
  --text-color--muted: var(--gray);

  /* Shadows */
  --shadow-header: 0px 4px 4px 0 rgba(0, 0, 0, 25%);

  /* Screens */
  --screen-desktop: #{$screen-desktop};
  --screen-laptop: #{$screen-laptop};
  --screen-tablet: #{$screen-tablet};
  --screen-mobile: #{$screen-mobile};

  /* Z-index */
  --z-index-default: 0;
  --z-index-header: 100;
  --z-index-modal: 200;
}
