@use "./vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

html,
body,
#root {
  background-color: var(--bg-body);
  color: var(--text-color--primary);

  font-family: "Roboto", sans-serif;
  height: 100%;

  font-weight: 400;
  font-size: 14px;
}

.container {
  --padding: 20px;
  max-width: var(--screen-desktop);

  margin: 0 auto;
  padding-left: var(--padding);
  padding-right: var(--padding);

  @media (max-width: vars.$screen-desktop) {
    --padding: 24px;

    max-width: var(--screen-laptop);
  }

  @media (max-width: vars.$screen-laptop) {
    max-width: var(--screen-tablet);
  }

  @media (max-width: vars.$screen-tablet) {
    max-width: var(--screen-mobile);
  }
}
