.modal-overlay {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.6);

  z-index: var(--z-index-modal);

  display: none;
  justify-content: center;
  align-items: center;

  &--visible {
    display: flex;
  }
}

.modal {
  position: relative;

  background-color: var(--bg-body);
  box-shadow: var(--shadow-header);

  padding: 32px;

  &__header {
    display: flex;
    justify-content: flex-end;

    padding-bottom: 32px;
  }
}
