@use "~/styles/vars" as vars;

.cats-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));

  gap: 48px;

  &__item {
    transition: transform 0.1s;

    aspect-ratio: 1 / 1;
  }

  @media screen and (min-width: vars.$screen-mobile) {
    &__item:hover {
      transform: scale(1.15);
    }
  }
}
