.cat-card {
  position: relative;

  user-select: none;
  cursor: pointer;

  &__image-box {
    width: 100%;
    height: 100%;

    &__image {
      object-fit: cover;

      width: 100%;
      height: 100%;

      user-select: none;
      pointer-events: none;
    }
  }

  .cat-card__like {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 18px;

    &__icon {
      width: 48px;
      aspect-ratio: 4 / 3;

      opacity: 0;
      color: var(--red);

      filter: drop-shadow(0 0 4px rgb(0, 0, 0, 25%));

      transition-property: opacity;
      transition-duration: 0.1s;
    }

    &__icon--active {
      position: absolute;

      left: 50%;
      transform: translateX(-50%);
    }
  }

  .cat-card__checkbox {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1;

    &__input {
      width: 100%;
      height: 100%;

      cursor: pointer;
      opacity: 0;
    }
  }

  &:hover {
    filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 35%));

    .cat-card__like__icon:not(.cat-card__like__icon--active) {
      opacity: 1;
    }
  }

  &--liked:hover {
    .cat-card__like__icon {
      opacity: 1;
    }
  }
}
